.App {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
}

.Home,
.Quiz,
.End {
    width: 500px;
    height: 500px;
    border-radius: 10px;
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Home button,
.Quiz button,
.End button {
    width: 300px;
    height: 50px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}

.Home,
.Quiz {
    color: #fff;
}

.Quiz h1 {
    padding: 15px;
}

.options {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.options button {
    color: #fff;
    width: 100%;
    background-color: darkslateblue;
}

.options button:hover {
    color: rgb(67, 163, 167);
    background-color: burlywood;
    transition: .5s all ease;
}

/* -----------------Responsive-------------------------- */

@media (max-width: 500px) {

    .Home,
    .Quiz,
    .End {
        width: 350px;
        height: 500px;
    }

    .Quiz h1 {
        font-size: 22px;
        padding: 15px;
    }

    .Home button,
    .Quiz button,
    .End button {
        width: 250px;
        font-size: 15px;
    }
}